body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #ec8700;
  padding: 0.8rem 2.5rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%;
}

.cards__container {
  max-width: 900px;
  margin: 0 auto;
  width: 80%;
}

.header__nav {
  background-color: gray;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__menu {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
}
.header__nav__menu a {
  padding: 1rem 0;
}
.header__nav__menu a:hover {
  background-color: black;
}
.header__main__hero {
  background-image: url("https://i.postimg.cc/YCKppgLP/background-sports.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 0;
}
.header__main__hero__container {
  display: grid;
  grid-template-columns: 1fr;
}
.header__main__hero__container__text h1 {
  font-size: 4rem;
}
.header__main__hero__container__text p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 0 2.5rem 0;
  padding-right: 9rem;
  line-height: 1.6;
}
.header__main__hero__container__img {
  margin-top: -7rem;
}
.header__main__cards {
  background-image: url("https://i.postimg.cc/3xsZYgpN/background-sports2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.header__main__cards .cards__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
}
.header__main__cards .cards__container .card {
  background: rgb(0, 0, 0);
  background: linear-gradient(103deg, rgb(0, 0, 0) 80%, rgb(255, 188, 0) 80%);
}
.header__main__cards .cards__container .card p {
  padding: 1rem 0 2rem 0;
}
.header__main__cards .cards__container .card .card__img {
  padding: 4rem 1rem 4.5rem 1rem;
}
.header__main__cards .cards__container .card .card__img p {
  font-family: "Source Sans Pro", sans-serif;
}
.header__main__cards .cards__container .card-two, .header__main__cards .cards__container .card-three {
  background: rgb(0, 0, 0);
  background: linear-gradient(-103deg, rgb(0, 0, 0) 80%, rgb(255, 188, 0) 80%);
}
.header__main__cards .cards__container .card-one div {
  background-image: url("https://i.postimg.cc/7LCpJ3Z0/img-card-1-right.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__main__cards .cards__container .card-one div p {
  padding-right: 30%;
}
.header__main__cards .cards__container .card-two div {
  background-image: url("https://i.postimg.cc/P56LKwnS/img-card-2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: end;
}
.header__main__cards .cards__container .card-two div p {
  padding-left: 30%;
}
.header__main__cards .cards__container .card-three div {
  background-image: url("https://i.postimg.cc/qMqLJCHy/img-card-3.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
}
.header__main__cards .cards__container .card-three div p {
  padding-left: 30%;
}
.header__main__cards .cards__container .card-four div {
  background-image: url("https://i.postimg.cc/yYTPs4dg/img-card-4.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__main__cards .cards__container .card-four div p {
  padding-right: 30%;
}

.active {
  visibility: inherit;
}

.newest {
  text-align: center;
  padding: 4rem 0;
}
.newest__h2 {
  font-size: 3rem;
}
.newest__p {
  padding: 2rem 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}
.newest__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}
.newest__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.newest__cards__card p {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2rem 0 1.5rem 0;
}
.newest__cards__card img {
  max-width: 15rem;
}

@media (min-width: 768px) {
  .header__main__hero__container__text h1 {
    max-width: 25rem;
  }
  .header__main__hero__container__text p {
    padding-right: 15rem;
  }
  .header__main__hero__container__img {
    margin-top: -13rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 70%;
  }
  .header__main__hero {
    padding: 6rem 0;
  }
  .header__main__hero__container {
    grid-template-columns: 1fr;
  }
  .header__main__hero__container__text h1 {
    font-size: 4rem;
    max-width: 25rem;
  }
  .header__main__hero__container__text p {
    padding-right: 15rem;
    line-height: 1.6;
  }
  .header__main__hero__container__img {
    margin-top: -13rem;
  }
  .header__main__cards .cards__container {
    grid-template-columns: 1fr 1fr;
  }
  .newest__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
  .header__main__hero {
    padding: 6rem 0;
  }
  .header__main__hero__container {
    grid-template-columns: 1fr 1fr;
  }
  .header__main__hero__container__text h1 {
    font-size: 4rem;
    max-width: 25rem;
  }
  .header__main__hero__container__text p {
    padding-right: 0;
    line-height: 1.6;
  }
  .header__main__hero__container__img {
    margin-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
