@use 'variables';
@use 'reset';

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}
.text-center{
    text-align: center;
}
.mt-2{
    margin-top:2rem
}

.header__main__hero{
    background-image: url('https://i.postimg.cc/YCKppgLP/background-sports.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: variables.$color-blanco;
    padding: 2rem 0;
    &__container{
        display: grid;
        grid-template-columns: 1fr;
        &__text{
            & h1{
                font-size: 4rem;
            }
            & p{
                font-family: 'Source Sans Pro', sans-serif;
                padding: 1.5rem 0 2.5rem 0;
                padding-right: 9rem;
                line-height: 1.6;
            }
        }
        &__img{
            margin-top: -7rem;
        }
    }
}


@media (min-width: 768px) {
    .header__main__hero__container{
        &__text{
            & h1{
                max-width: 25rem;
            }
            & p{
                padding-right: 15rem;
            }
        }
        &__img{
            margin-top: -13rem;
        }
    }
}
@media (min-width: 992px) {
    .container{
        width: 70%;
    }
    .header__main__hero{
        
    padding: 6rem 0;
    &__container{
        grid-template-columns: 1fr;
        &__text{
            & h1{
                font-size: 4rem;
                max-width: 25rem;
            }
            & p{
                padding-right: 15rem;
                line-height: 1.6;
            }
        }
        &__img{
            margin-top:-13rem;
            
        }
    }
}
}
@media (min-width: 1200px) {
    .container{
        width: 60%;
    }
    .header__main__hero{
        
        padding: 6rem 0;
        &__container{
            grid-template-columns: 1fr 1fr;
            &__text{
                & h1{
                    font-size: 4rem;
                    max-width: 25rem;
                }
                & p{
                    padding-right: 0;
                    line-height: 1.6;
                }
            }
            &__img{
                margin-top: 0;
                
            }
        }
    }
}