@use 'variables';
@use 'reset';

.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}
.cards__container{
    max-width: 900px;
    margin: 0 auto;
    width: 80%;
}

.header{
    &__nav{
        background-color: variables.$color-negro;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo{
            padding: 1rem;
        }

        &__menu{
            font-family: 'Source Sans Pro', sans-serif;
            position: absolute;
            top: 65px;
            width: 100%;
            background-color: variables.$color-negro;
            display: flex;
            flex-direction: column;
            text-align: center;
            & a{
                padding: 1rem 0;
            }
            & a:hover{
                background-color: variables.$color-naranja;
            }
            visibility:hidden;
        }
    }
    &__main{
        padding-top: 60px;
        &__hero{
            background-image: url('https://i.postimg.cc/YCKppgLP/background-sports.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: variables.$color-blanco;
            padding: 2rem 0;
            &__container{
                display: grid;
                grid-template-columns: 1fr;
                &__text{
                    & h1{
                        font-size: 4rem;
                    }
                    & p{
                        font-family: 'Source Sans Pro', sans-serif;
                        padding: 1.5rem 0 2.5rem 0;
                        padding-right: 9rem;
                        line-height: 1.6;
                    }
                }
                &__img{
                    margin-top: -7rem;
                }
            }
        }
        &__cards{
            background-image: url('https://i.postimg.cc/3xsZYgpN/background-sports2.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: variables.$color-blanco;
            & .cards__container{
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr;
                padding-bottom: 4rem;
                & .card{
                    background: rgb(0,0,0);
                    background: linear-gradient(103deg, rgba(0,0,0,1) 80%, rgba(255,188,0,1) 80%);
                    & p{
                        padding: 1rem 0 2rem 0;
                    }
                    & .card__img{
                        padding: 4rem 1rem 4.5rem 1rem;
                        & p{
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                    }
                }
                & .card-two, & .card-three{
                    background: rgb(0,0,0);
                    background: linear-gradient(-103deg, rgba(0,0,0,1) 80%, rgba(255,188,0,1) 80%);
                }
                & .card-one div{
                    background-image: url('https://i.postimg.cc/7LCpJ3Z0/img-card-1-right.png');
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: contain;
                    & p{
                        padding-right: 30%;
                    }
                }
                
                & .card-two div{
                    background-image: url('https://i.postimg.cc/P56LKwnS/img-card-2.png');
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                    text-align: end;
                    & p{
                        padding-left: 30%;
                    }
                }
                & .card-three div{
                    background-image: url('https://i.postimg.cc/qMqLJCHy/img-card-3.png');
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-align: end;
                    & p{
                        padding-left: 30%;
                    }
                }
                & .card-four div{
                    background-image: url('https://i.postimg.cc/yYTPs4dg/img-card-4.png');
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: contain;
                    & p{
                        padding-right: 30%;
                    }
                }
            }
        }
    }
}
.active{
    visibility: visible;
}
.newest{
    text-align: center;
    padding: 4rem 0;
    &__h2{
        font-size: 3rem;
    }
    &__p{
        padding: 2rem 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        line-height: 1.6;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1rem;
        &__card{
            display: flex;
            flex-direction: column;
            justify-content:end;
            align-items: center;
            & p{
                font-size: 1.3rem;
                font-weight: bold;
                padding: 2rem 0 1.5rem 0;
            }
            & img{
                max-width: 15rem;
            }
        }
    }
}
.btn-menu{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0;
    margin-right: 1rem;
}
.hamburger-inner,.hamburger-inner:before, .hamburger-inner:after {
    background-color: white !important;
}

.about{
    &__tech{
        background-image: url('https://i.postimg.cc/4y7Sc8PF/about-1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 0;
        &__grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            &__txt{
                & h3{
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }
                & p{
                    padding: 0 0 3rem 0;
                    line-height: 1.6;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: bold;
                }
            }
        }
    }
    &__instructor{
        background-image: url('https://i.postimg.cc/c1vxT05P/about-2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 0;
        &__grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            &__txt{
                & h3{
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }
                & p{
                    padding: 0 0 3rem 0;
                    line-height: 1.6;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: bold;
                }
            }
        }
    }
    &__team{
        background-image: url('https://i.postimg.cc/HnqP9QPW/about-3.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 0;
        &__grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            &__txt{
                & h3{
                    font-size: 3rem;
                    padding-bottom: 2rem;
                }
                & p{
                    padding: 0 0 3rem 0;
                    line-height: 1.6;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: bold;
                }
            }
            &__img{
                background: rgb(255,173,1);
                background: linear-gradient(270deg, rgba(255,173,1,1) 60%, rgba(0,0,0,1) 60%);
            
            }
        }
    }
}
.footer{
    padding: 2rem 0 0 0;
    &__form{
        padding: 4rem 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        align-items: center;
        &__title{
            & h3{
                font-size: 2rem;
            }
        }
        &__input{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            padding: 2rem 0;
            & input{
                width: 100%;
                border: 2px solid black;
                height: 3rem;
                margin-bottom: 1rem;
            }
        }
    }
    &__final{
        background-color: #222222;
        color:variables.$color-blanco;
        text-align: center;
        padding: 2rem 0;
    }
}
@media (min-width: 768px) {
    .header__main__hero__container{
        &__text{
            & h1{
                max-width: 25rem;
            }
            & p{
                padding-right: 15rem;
            }
        }
        &__img{
            margin-top: -13rem;
        }
    }
}
@media (min-width: 992px) {
    .container{
        width: 70%;
    }
    .header{

        &__main__hero{
            padding: 6rem 0;
            &__container{
                grid-template-columns: 1fr;
                &__text{
                    & h1{
                        font-size: 4rem;
                        max-width: 25rem;
                    }
                    & p{
                        padding-right: 15rem;
                        line-height: 1.6;
                    }
                }
                &__img{
                    margin-top:-13rem;
                    
                }
            }
        }
    }
    
.footer{
    &__form{
        grid-template-columns: 1fr 1fr;
    }
}
    .header__main__cards{
        & .cards__container{
            grid-template-columns: 1fr 1fr;
        }
    }
    .newest__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about{
        &__tech{
            &__grid{
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }
        &__instructor{
            &__grid{
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }
        &__team{
            &__grid{
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }
    }

}
@media (min-width: 1200px) {
    .container{
        width: 60%;
    }
    .header{
        &__nav{
            flex-direction: row;
            &__btn{
                display: none;
            }
            &__menu{
                visibility: visible;
                flex-direction: row;
                width: auto;
                position: relative;
                top: 0;
                & a{
                    padding: 1rem;
                }
            }
        }
        &__main__hero{
        
            padding: 6rem 0;
            &__container{
                grid-template-columns: 1fr 1fr;
                &__text{
                    & h1{
                        font-size: 4rem;
                        max-width: 25rem;
                    }
                    & p{
                        padding-right: 0;
                        line-height: 1.6;
                    }
                }
                &__img{
                    margin-top: 0;
                }
            }
        }
    }
}